<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>550231900255-am2mjfmqjtjtbb2j4mrir1femkpkiu43.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550231900255-am2mjfmqjtjtbb2j4mrir1femkpkiu43</string>
	<key>API_KEY</key>
	<string>AIzaSyAFQqhp-jaBD_BUMgKC_O6KMeXq-lubyyY</string>
	<key>GCM_SENDER_ID</key>
	<string>550231900255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aplanetbit.maintenize</string>
	<key>PROJECT_ID</key>
	<string>maintenize</string>
	<key>STORAGE_BUCKET</key>
	<string>maintenize.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550231900255:ios:7aaed179c080a68fb2dbea</string>
</dict>
</plist>